<div class="auth-container">
  <div class="form-box">
    <h2>Login</h2>
    <form #loginForm="ngForm" (ngSubmit)="onLogin()" novalidate>
      <div class="form-group">
        <label>Email</label>
        <input type="email" [(ngModel)]="loginData.email" name="email" required email #email="ngModel" />
        <div *ngIf="email.invalid && email.touched" style="color:red; font-size:12px;">Valid email is required</div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" [(ngModel)]="loginData.password" name="password" required minlength="6" #password="ngModel" />
        <div *ngIf="password.invalid && password.touched" style="color:red; font-size:12px;">
          Password is required (min 6 characters)
        </div>
      </div>
      <button type="submit" [disabled]="!loginForm.form.valid">Login</button>
    </form>
    <p class="bottom-link">
      Not registered?
      <span (click)="goToRegister()">Create account</span>
    </p>
  </div>
</div>
