<footer class="site-footer">
  <div class="container">
    <div class="footer-row">
      <div class="footer-col">
        <h5>Contact Us</h5>
        <p>Instagram id : snehalsbeyoutie</p>
        <p>Phone : +91 7622017665</p>
        <p>Address : Shop No. 15, Krishnavally Complex,Near Amitnagar Circle, Karelibaugh,Vadodara</p>
      </div>
      <div class="footer-col">
        <h5>Follow Us</h5>
        <div class="social-icons">
          <a href="https://www.facebook.com/snehalsbeyoutie" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://wa.me/917622017665" target="_blank">
            <i class="fab fa-whatsapp"></i>
          </a>
          <a href="https://www.instagram.com/snehalsbeyoutie" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.youtube.com/@snehalsbeyoutie" target="_blank">
            <i class="fab fa-youtube"></i>
          </a>
        </div>

      </div>
      <div class="footer-col">
        <h5>For Queries </h5>
        <input type="email" placeholder="Enter your email" /><br>
        <button>Submit</button>
      </div>
    </div>
    <div class="footer-bottom">
      <p>© 2024 Code with srushh. All Rights Reserved.</p>
    </div>
  </div>
</footer>
